.navbarSettings
{
	padding:23px;
	border:none;
	border-radius:0;
	margin:0;
}
.logo a
{
	display:block;
}
.navSettings
{
	margin-top:10px;
}

.navbarSettings .navSettings li a 
{
	color: #1c3a50;
	font-size: 18px;
}
.navbarSettings .navSettings li a:hover
{
	color:#02b8dc;
}
.banner
{
	height: 500px;
	background: url(../images/bannerBg.png); 
	background-size: cover;

}
.bannerContent .formAccomodation
{
	margin-top:97px;
	background-color: #FFF;
	padding:40px 80px 20px 80px;
}

.formAccomodation .button
{
	border: 0 none;
    border-radius: 0px;
    background-color:#ef5a29;
    width:140px;
    height:47px;
    color:#FFF;
    font-weight: bold;
}
.formAccomodation .button:hover
{
	background-color:#ef5a29;
}
.formAccomodation label
{
	font-size: 14px;
	color:#6a6d71;
}
.title h3
{
	font-size: 32px;
	color:#1f435e;
	margin-top:175px;
}
.productList li a
{
	text-decoration: none;
}
.productList
{
	background-color: #C7E7F9;
	padding-left: 0;
}
.reasons h1
{
	margin-bottom: 30px;
}

.productList li:first-child
{
	margin-left: 0;
}
.productList li
{
	list-style-type: none;
	width:275px;
	margin-left:150px;
}
.productList p
{
	padding-bottom:15px; 
	margin:0 auto;
}
.productList .product1
{
	width:88px;
	height: 53px;
	margin: 0 auto;
	background: url(../images/reason1.png) no-repeat; 	
}
div .product2
{
	width:43px;
	height: 67px;
	margin: 0 auto;
   background: url(../images/reason2.png) no-repeat; 	
}
div .product3
{
	width:80px;
	height: 66px;
	margin: 0 auto;
	background: url(../images/reason3.png) no-repeat; 		
}
.reason ul li
{
	height: 200px;
}
.dealTitle h3
{
	font-size: 36px;
	padding: 40px 0px 35px 0px;
}
.btn-default:hover
{
	background-color: rgb(255, 97, 0);
}
.locationsForm .formGroupSmall:first-child
{
	margin-left: 0;
}

.locationsForm .formGroupSmall
{
	margin-left: 35px;
	width:150px;
}
.firstChart div:first-child
{
	background: url(../images/bigImage.png) no-repeat; 
}
.lastMinuteDeal
{
	position: relative;
}
.lastDeal
{
	position: absolute;
	top:20px;
	left:30px;
	width:250px;
	height:220px;
	background-color:rgba(255,255,255,0.7);
}

.lastDeal .dealHeading
{
	font-size: 22px;
	margin-bottom: 40px;
}
.lastDeal .dealDestination
{
	margin-bottom: 15px;
	font-size: 22px;
}
.lastDeal .dealVacation
{
	font-size: 16px;
}
.lastDeal .dealCurrency
{
	font-size: 22px;
	font-weight: bold;
}
.lastDeal .dealAmount
{
	font-size: 30px;
	font-weight: bold;
}

.deals
{
	background-color: #F4F4F4;
}
.deals img
{
	width:100%;
	height: 100%;
}
.chart
{
	background-color: #FFF;
	padding:0 20px;
}
.chart h2
{
	margin:0;
}
.chart .charts
{
	padding:13px 0;
}

.charts li
{
	font-size: 18px;
	list-style-type: none;
	border-bottom: 1px solid #ededed;
}

.charts li:last-child
{
	border:0;
}
.charts .item
{
	font-size: 18px;
	line-height: 60px;
}
.charts .itemUnit
{
	font-size: 22px;
	color:#ef5a29;
	line-height: 60px;
}
.charts .itemPrice
{
	font-size: 30px;
}
.products .item
{
	font-size: 18px;
}
.products .dealAmount
{
	font-size: 30px;
	color:#ef5a29;
}
.products .dealCurrency
{
	font-size: 22px;
	line-height: 45px;
	color:#ef5a29;
}
.gallery ul
{
	padding: 0;
	margin:30px auto;	
}
.gallery li
{
	height: 250px;
	list-style-type: none;
}
.gallery a
{
   position: absolute;
   font-size: 22px;
   padding:10px 30px;
   left: 125px;
   top: 100px;
   color:#000;
   text-decoration: none;
   background-color: rgba(255,255,255,0.7);
}
.offerAmount
{
	font-size: 30px;
}
.offerText
{
	font-size: 24px;
	background-color: #02b8dc;
	margin:0 auto;
	width:100%;
	margin-bottom: 50px;
	color:#FFF;
}
.customButton 
{
	margin:22px 0;
	background-color: #02b8dc;
    border:1px solid #FFF;
    border-radius: 0;
    width:160px;
    height:42px;
    font-size: 18px;
	margin-left: 20px;
}
.offerText .btn
{
	margin-left:20px;
}
.offerText .offerAmount
{
	font-weight: bold;
}
.customButton:focus, .customButton:active:focus, .customButton.active:focus {
    outline: 0 none;
    color:#FFF;
}

.joinNowBanner .offerWrapper
{
	width:680px;
	margin:0 auto;
}
.footer
{
	background-color: #1c3a50;
	padding-top: 50px;
}
.footer .footerLinks
{
	list-style-type: none;
	color:#FFF;
}
.footerLinks 
{
	margin-right:100px;
	padding: 0;
}
.footerLinks li a
{
	color:#FFF;
	text-decoration: none;
	font-size: 16px;
}
.footer .footerLinks li
{
	margin:7px 0;
}
.footer .copyright
{
	font-size: 12px;
	color: #8e9da8;
}
.footer .links
{
	margin-bottom: 25px;
}
