@font-face {
    font-family: 'titillium_webbold';
    src: url('../fonts/titilliumweb-bold-webfont.eot');
    src: url('../fonts/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-bold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium_websemibold';
    src: url('../fonts/titilliumweb-semibold-webfont.eot');
    src: url('../fonts/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-semibold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.coreCourseContent{
	max-width: 420px;
	margin: 0px auto;
}
.nfhsCoursesSection1 h3,.nfhsCoursesSection2 h3{
	color: #cd091d;
	font-size: 28px;
	text-align: center;
	text-decoration: none;
	font-family: titillium_webbold;
	margin-bottom: 25px;
	padding:10px 0;
	background-color: #ddd;
	border:3px solid #ddd;
	border-radius: 7px;
	cursor: pointer;
}
.nfhsCoursesSection1 h3:before,.nfhsCoursesSection2 h3:before{
	font-family: "Glyphicons Halflings";
	content: "\e080";
	margin:5px;
	color:#000;
}
.nfhsSportsSpecificCourse,.electiveCourseContent{
	display: none;
}
.navbar-default .navbar-nav > li > a{
		color: #000;	
	}
.customNavigation li{
	padding:8px 0;
	border-right: 1px solid #ededed;
}
.customNavigation li:hover{
	background-color: #eeeeee;
}
.customNavigation li:first-child{
	border-left: 1px solid #ededed;
}
.customNavigation a{
	font-size: 16px;
	color: #19232d;
	padding:30px 18px;
	font-family: titillium_webbold;
	text-transform: uppercase;
}
.bannerPicture{
	float: right;
	max-width: 465px;
}
.footerSection
{
	width: 1000px;
	margin:0 auto;
}
ul,li,p,h1,h2,h3,h4,h5,h6
{
	padding: 0;
	margin:0;
}
ul{
	list-style-type: none;
}
h2{
	font-size: 36px;
}
h3{
	font-size: 28px;
}
.firstWraper{
	background-color:#19232d;
	font-family: arial;
	font-size: 12px;
	font-weight: 300;
	position: relative;
}
.secondWraper{
	background-color: #FFF;
}
.subMenuLeft{
	position: relative;
}
.subMenuLeft li
{
	float: left;
}
.subMenuRight li
{
	float: left;
}
.subMenuLeft a
{
	text-decoration: none;
	display: block;
	color: #627588;
	padding:10px;
}
.brand
{
	background: url(../img/NFHSLogoNew.png) no-repeat;
	width:88px; 
	height:35px;
	display: block;
	margin: 10px 0 0 12px;
}
.firstWraper ul a:hover
{
	color: #FFF;
	background-color: #000;
}
.subMenuRight a
{
	display: block;
	color: #FFF;
	padding:10px;
	text-decoration: none;
}
.navbar
{
	margin:0;
	background-color: #FFF;
}
.search
{
	background-image: url(../img/magnifyGlass.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 50px;
	margin-left: 15px;
}
.headerMenu li:first-child
{
	border-left:1px solid #ededed;
}
.headerMenu li
{
	border-right:1px solid #ededed;
}
.headerMenu li:hover
{
	background-color: #eeeeee;
}
.headerMenu a
{
	display: block;
	color: #19232d;
    font-weight: 600;
    padding:25px 10px;
}
.headerMenu .clear{
	padding:0;
}
.NFHSLogo{
	position: absolute;
	background-image: url('../img/NFHSLogo.png');
	width:180px;
	background-repeat: no-repeat;
	height: 123px;
}
.banner{
	background-image: url('../img/patternBlock.png');
	margin-bottom: 60px;
	overflow: hidden;
}
.bannerContent{
	margin-top: 100px;
	font-family: arial;
	float: left;
	width:475px;
}
.bannerContent h2
{
   font-size: 30px;
   color: #FFF;
   font-family: titillium_webbold;
   margin-bottom: 12px;
}
.bannerContent p{
	font-size: 14px;
	color: #82878b;
	margin-bottom: 26px;
}
.bannerContent h3{
  font-size: 28px;
  color:#eeeeee;
  margin-bottom: 28px;
  font-family:titillium_webregular;
  text-transform: uppercase;
}
.bannerContent .learnMore{
	font-size: 18px;
	font-family:titillium_webregular;
	border:2px;
	border-radius: 4px;
	background-color: #004e94;
	padding:12px 22px;
	color: #eeeeee;
	display: inline-block;
	margin-bottom: 20px;
}
.map{
	background-image: url('../img/map.png');
	background-repeat: no-repeat;
	height: 30px;
}
.building
{
	background-image: url('../img/building.png');
	height: 43px;	
	background-repeat: no-repeat;
}
.threeHeads
{
	background-image: url('../img/threeHeads.png');
	height: 30px;
	background-repeat: no-repeat;
}
.courseDelieverAndCount h1
{
	font-size: 36px;
	text-align: center;
	color: #cd091d;
	margin-bottom: 60px;
	font-family: titillium_webbold;
}
.delieveredCount
{
	margin-bottom: 60px;
}
.delieverDetails
{
	margin-bottom: 60px;
}
.courseDelieverAndCount .counter
{
	color: #cd091d;
	font-size: 28px;
	font-family: titillium_webbold;
}
.courseDelieverAndCount .countDescription{
	font-size: 24px;
	color: #000;
	display: inline-block;
	vertical-align: middle;
	width: 190px;
	font-family: titillium_webbold;
}
.courseDelieverAndCount .countPicture{
	display: inline-block;
	vertical-align: middle;
	width:65px;
	margin-right: 22px;
}
.courseDelieverAndCount h3{
	font-family: titilium_webregular;
	text-align: center;
	margin-bottom: 60px;
	color: #82878b;
	font-size: 28px;
}
.delieveredCount li{
	display: inline-block;
	margin:0 15px;
}
.sponsers{
	background-color: #eeeeee;
	padding:38px 0 34px 0;
	margin-bottom: 45px;
}
.sponsersList{
	text-align: center;
}
.sponsersList li{
	display: inline-block;
	margin:0 14px;
}
.sponsersList img{
	display: inline-block;
	vertical-align: middle;
}
.advertisement{
	max-width: 609px;
	margin:0  auto 50px;
}
.advertisement img{
	width: 100%;
}
.recommendedCourse{
	background-image: url('../img/findCourseBackground.jpg');
	padding:35px 0 48px 0;
	margin-bottom: 50px;
	background-size: cover;
}
.recommendedCourse h2{
	text-align: center;
	color: #FFF;
	font-family:titillium_webbold;
	margin-bottom: 35px;
}
.recommendedCourse .position{
	padding:5px 38px;
	font-size: 18px;
	font-family: titilium_webregular;
	color: #eeeeee;
}
.nfhsSportsSpecificCourse,.electiveCourseContent{
	color: #cd091d;
	margin-bottom: 60px;
}
.nfhsSportsSpecificCourse h3,.electiveCourseContent h3{
	font-family: titillium_webbold;
	margin-bottom: 20px;
	text-align: center;
}
.nfhsSportsSpecificCourse .viewAll,.electiveCourseContent .viewAll{
	float: right;
	color:#19232d;
	line-height: 35px;
	font-weight: 200;
	font-size: 14px;
	margin:0 20px;
}
.nfhsSportsSpecificCourse .socialConnect,.electiveCourseContent .socialConnect{
	color:#19232d;
	font-family: arial;
	text-decoration: underline;
	display: inline-block;
	margin: 0 5px;
}
.nfhsSportsSpecificCourse li,.electiveCourseContent li{
	position: relative;
}

.nfhsSportsSpecificCourse li:hover .sportsCoursesView,.electiveCourseContent li:hover .sportsCoursesView{
	display: block;
}
.sportsSpecificCourse{
	height: 156px;
}
.sportsSpecificCourse img{
	height: 100%;
	width: 100%;
}
.nfhsSportsSpecificCourse  .sportsCourseTitle,.electiveCourseContent .sportsCourseTitle{
	text-align: center;
	color:rgb(0,0,0);
	margin:0;
	background-color: #eeeeee;
	font-size: 16px;
	padding:27px 10px;
} 
.sportsCourseTitle  span{
	font-weight: bold;
}
.sportsCourseDetails{
	background-color: #36414a;
    width:100%;
    color:rgb(255,255,255);
}
.sportsCoursesView a{
	text-decoration: none;
}
.sportsCoursesView{
	display: none;
	position: absolute;
	top:0;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	left: 15px;
	right: 15px;
}
.sportsCoursesView .socialConnectList{
	width:160px;
	margin:0 auto;
}
.socialConnectList .mail{
	width: 22px;
	height: 15px;
	background-image: url(../img/mailSmall.png);
}
.socialConnectList .linkedIn{
	width: 17px;
	height: 19px;
	background-image: url(../img/linkedIn.png);
}
.socialConnectList .facebook{
	width: 12px;
	height: 19px;
	background-image: url(../img/facebookSmall.png);
}
.socialConnectList .twitter{
	width: 21px;
	height: 16px;
	background-image: url(../img/twitterSmall.png);
}
.socialConnectList .googlePlus{
	width: 20px;
	height: 16px;
	background-image: url(../img/googlePlusSmall.png);
}

.socialConnect img{
	height: 100%;
	width: 100%;
}
.sportsCoursesView .viewCourses{
	display: block;
	width:130px;
	padding:6px;
	background-color: #fff;
	font-weight: bold;
	font-size: 16px;
	color: rgb(0,0,0);
	border: 1px solid #FFF;
	border-radius: 3px;
	margin: 59px auto;
}
.sportsCoursesView .sportsCoursesTitle{
	text-align: center;
	padding:27px 10px;
	color:rgb(255,255,255);
	margin-bottom: 10px;
	font-size: 16px;
}
.sportsCourseDetails .completionValue{
	display: inline-block;	
	padding:15px;
	background-color: #000;
}
.sportsCourseDetails .completionScore{
	background-color: #36414a;
	padding:7px;
	font-size: 12px;
}
.nfhsCoreCourse h2{
	font-family: titillium_webbold;
	color: #cd091d;
	text-align: center;
	font-size: 28px;
	margin-bottom: 20px;
}
.nfhsCoreCourse ul{
	margin-bottom: 80px;
}
.fundamentalCoaching{
	position: relative;
}
.fundamentalCoachingDetails{
	position:absolute;
	background-color: #36414a;
	bottom: 0;
	padding:14px 0;
	width:100%;
	opacity: 0.9;
}
.fundamentalCoachingDetails p{
	text-align: center;
	color: #FFF;
}
.fundamentalCoachingDetails .coreCourseTitle{
	margin-bottom: 5px;
	font-size: 18px;
	color: #FFF;
	font-family:titillium_websemibold;
}
.fundamentalCoachingDetails .coreCourseScore{
	color:#aaaaaa;
	font-size: 12px;
	font-family: arial;
}
.fundamentalCoaching img{
	width: 100%;
	height: 100%;
}

footer{
	padding-top:40px;
	background-color: #19232d;
}
.first{
	color: #FFF;
	font-size: 13px;
}
.subNav li{
	margin-bottom: 18px;
}
.subNav{
	padding-top:20px;
}
.subNav a{
	color: #3f5061;
	font-size: 13px;
	text-decoration: none;
}
.footer ul:first-child{
	border-left: none;
}
.socialMedia{
	float: left;
	margin-left: 40px;
}
.footerNav
{
	float: left;
}
.footerNav>li
{
	float: left;
	width:150px;
	min-height: 228px;
	border-left: 1px solid #3f5061;
	padding-left: 25px;
}
.footerNav>li:first-child{
	border:none;
}
.footer>ul{
	float: left;
}
.socialMedia .latestTweet{
	width:300px;
	background-color: #31475a;
	color: #fff;
	padding: 20px;
	border: 1px solid #31475a;
	border-radius: 5px;
	margin:0 auto 30px;
}
.connectToSocialList a{
	display: block;
}
.connectToSocialList .facebookConnect{
	width:12px;
	height: 22px;
}
.connectToSocialList li{
	margin:0 10px;
	display: inline-block;
    vertical-align: middle;
}
.connectToSocialList .youTubeConnect{
	width:30px;
	height: 29px;
}
.connectToSocialList .twitterConnect{
	width:21px;
	height: 19px;
}
.connectToSocialList img{
	width:100%;
	height: 100%;
}
.latestTweet h4{
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 10px;
}
.latestTweet .tweet{
	margin-bottom: 10px;
}
.latestTweet p{
	font-size: 12px;
}
.copyright{
	background-color: #000;
}
.copyright p{
	padding:5px;
	text-align: center;
	color: #3f5061;
}
.collapse{
	display: block;
}
.advertisementTwo{
	margin-bottom: 32px;
}
@keyframes hvr-pulse-shrink {
  to {
    transform: scale(0.7);
  }
}

.hvr-pulse-shrink {
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-shrink:hover
{
  animation-name: hvr-pulse-shrink;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes hvr-wobble-vertical{
  16.65% {
    transform: translateY(8px);
  }

  33.3% {
    transform: translateY(-6px);
  }

  49.95% {
    transform: translateY(4px);
  }

  66.6% {
    transform: translateY(-2px);
  }

  83.25% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0);
  }
}

.hvr-wobble-vertical {
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover{
  animation-name: hvr-wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}
@media (max-width: 992px)
{
	.courseDelieverAndCount .countPicture{
		margin: 0;
	}
	.banner .container{
		padding: 0;
		width: 100%;
	}
	.bannerContent{
		margin:0;
		float: none;
		padding: 30px 15px 20px;
		background-color: #19232d;
		width:100%;
		text-align: center;
	}

	.socialMedia{
		float: left;
		margin: 0;
	}	
	.footerNav > li{
		margin-bottom: 20px;
	}
	.courseDelieverAndCount .countDescription{
		text-align: center;
	}
	.sponsers{
		overflow-x:auto;
	}
	.bannerPicture{
		float: none;
		margin: 0px auto;
		width: 490px;
	}
	
	.footerNav>li{
		width: 130px;
		margin: 0px 10px 0 0;
	}
	.recommendedCourse h2
	{
		font-size: 24px;
	}
	.delieverDetails{
		width:690px;
		margin:0 auto 60px;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #b03060;
	    height: 3px;
	}
	.customNavigation,.customNav{
		margin: 0;
		padding:0;
	}
	.customNavigation li{
		text-align: center;
		background-color: #f3f3f3;
		border-top: 1px solid #ddd;
	}
	.customNavigation a{
		font-weight: bold;
		text-align: left;
	}
	.navbar-default .navbar-nav > li > a{
		color: #000;	
	}
	.connectToSocialList{
		margin-bottom: 12px;
	}
	.recommendedCourse select,.recommendedCourse button{
		width:300px;
		margin:0 auto;
		margin-bottom: 20px;
		display: block;
	}
	select
	{
		cursor: pointer;
	}
	.nfhsSportsSpecificCourse li,.electiveCourseContent li{
		margin-bottom: 20px;
	}
	.fundamentalCoaching{
		position: relative;
	}
	.nfhsCoreCourse{
		margin-bottom: 0;
	}
	.viewAll{
		float: right;
		text-decoration: none;
	}
	.footerNav{
		float: none;
		width: 560px;
		margin: 0 auto;
	}
	
	.marquee {
	    margin: 0 auto;
	    overflow: hidden;
	    white-space: nowrap;
	    box-sizing: border-box;
	    animation: marquee 25s linear infinite;
	    width: 1060px;
	}
	.nfhsSportsSpecificCourse li:hover .sportsCoursesView{
		display:none;
	}
	.electiveCourseContent li:hover .sportsCoursesView{
		display:none;
	}
}

@media (min-width: 768px){
	.nfhsSportsSpecificCourse,.electiveCourseContent{
		display: block;
	}
	.nfhsCoursesSection1 h3,.nfhsCoursesSection2 h3{
		border:none;
		background-color: #FFF;
	}
	.nfhsCoursesSection1 h3::before,.nfhsCoursesSection2 h3::before{
		display: none;
	}
}

@media (max-width: 767px)
{
	.advertisementTwo{
		margin-bottom: 32px;
	}
	.bannerContent h2{
		margin-bottom: 18px;
		font-size: 24px;
	}
	.bannerContent h3{
		display: none;
	}
	.nfhsCoreCourse h2{
		margin-bottom: 26px;
		font-size: 24px;
	}
	.courseDelieverAndCount .counter{
		display: block;
	}
	.courseDelieverAndCount .countPicture{
		margin-right: 10px;
	}
	.courseDelieverAndCount .countDescription{
		text-align: left;
		font-size: 18px;
	}
	.firstWraper ul a:hover{
		background-color: #01a451;
	}
	.collapse{
		display: none;
	}
	.recommendedCourse h2{
		font-size: 20px;
	}
	.footerNav>li{
		margin:0;
		border:0;
	}
	.socialMedia{
		float: none;
	}
	.footerNav{
		float: none;
		width: 300px;
		margin: 0 auto 28px;
	}
	.marquee{
		width:1060px;
	    margin: 0 auto;
	    overflow: hidden;
	    white-space: nowrap;
	    box-sizing: border-box;
	    animation: marquee 25s linear infinite;
	}
	.formControl{
		width: 255px;
		margin:0 auto;
	}
	.delieverDetails{
		width:300px;
		margin:0 auto;
	}
	.nfhsSportsSpecificCourse li:hover .sportsCoursesView,.electiveCourseContent li:hover .sportsCoursesView{
		display: none;
	}
	h2{
		font-size: 24px;
	}
	.nfhsCoursesSection2{
		margin-bottom: 48px;
	}
	.electiveCourseContent{
		margin-bottom: 0;
	}
	.nfhsCoreCourse ul{
		margin-bottom: 52px;
	}
	.fundamentalCoaching{
		position: relative;
		margin-bottom: 16px;
	}
	.nfhsSportsSpecificCourse li,.electiveCourseContent li{
		margin-bottom: 20px;
	}
	.nfhsSportsSpecificCourse h3,.electiveCourseContent h3{
		font-size: 22px;
	}
	.fundamentalCoachingDetails .coreCourseTitle{
		font-size: 17px;
	}
	.courseDelieverAndCount ul{
		margin-bottom: 0;
	}
	.recommendedCourse select,.recommendedCourse button{
		margin-bottom: 12px;
		width:200px;
	}
	.recommendedCourse select,.recommendedCourse button{
		width: 100%;
	}
	.courseDelieverAndCount .counter{
		color: #cd091d;
		font-size: 24px;
	}
	.sponsers,.advertisement{
		margin-bottom: 0;
	}
	.sponsers{
		overflow-x:auto;
	}
	.subMenuLeft{
		display: none;
	}
	.courseDelieverAndCount h3{
		font-size: 20px;
	}
	
	.courseDelieverAndCount li{
		margin-bottom: 30px;
	}
	.courseDelieverAndCount h1{
		font-size: 24px;
		padding-top:30px;
	}
	.banner{
		background-position: -600px 0;
		margin:0;
	}
	.bannerPicture img{
		width: 100%;
	}
	.bannerPicture{
		width:auto;
	}
	.bannerContent p{
		width: auto;
		text-align: center;
	}
	.socialMedia .latestTweet{
		margin-bottom:15px;
	}
}
