@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rajdhanimedium';
    src: url('../fonts/rajdhani-medium-webfont.eot');
    src: url('../fonts/rajdhani-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-medium-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-medium-webfont.woff') format('woff'),
         url('../fonts/rajdhani-medium-webfont.ttf') format('truetype'),
         url('../fonts/rajdhani-medium-webfont.svg#rajdhanimedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rajdhaniregular';
    src: url('../fonts/rajdhani-regular-webfont.eot');
    src: url('../fonts/rajdhani-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-regular-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-regular-webfont.woff') format('woff'),
         url('../fonts/rajdhani-regular-webfont.ttf') format('truetype'),
         url('../fonts/rajdhani-regular-webfont.svg#rajdhaniregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rajdhanisemibold';
    src: url('../fonts/rajdhani-semibold-webfont.eot');
    src: url('../fonts/rajdhani-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rajdhani-semibold-webfont.woff2') format('woff2'),
         url('../fonts/rajdhani-semibold-webfont.woff') format('woff'),
         url('../fonts/rajdhani-semibold-webfont.ttf') format('truetype'),
         url('../fonts/rajdhani-semibold-webfont.svg#rajdhanisemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul,li,p,h1,h2,h3,h4,h5,h6,li
{
	padding: 0;
	margin: 0;
}
ul
{
	list-style-type: none;
}
.navbar
{
	background-color: #FFF;
	padding:16px 0;
	margin-bottom: 0;
}
.acendLogo
{
	background-image: url('../img/acendLogo.png');
	display: block;
	height: 62px;
	width: 281px;
}
.customNavbar li
{
	padding:10px 0;
}
.customNav a
{
	font-family:rajdhanimedium; 
	font-size: 20px;
	color: #636363;
}
.navbar-default .navbar-nav > li > a:hover
{
	color: #636363;
}
.tryItForFree:hover,.tryItForFree:focus
{
	text-decoration: none;
	color: #FFF;
}
.banner
{
	background-image: url(../img/banner.jpg);
	height: 497px;
	background-size: cover;
}
.bannerContent
{
	position: relative;
	width:630px;
	margin:0 auto;
}
.bannerContent h1
{
	font-family:rajdhanisemibold;
	padding-top:130px;
	font-size: 60px;
	margin-bottom: 30px;
	color: #FFF;
}
.bannerContent .noCreditCard
{
	font-family: open_sansregular;
	font-size: 14px;
	color: #fff;
}
.bannerContent .laptop
{
	position: absolute;
	background-image: url(../img/laptop.png);
	width: 642px;
	height: 355px;
	top:420px;
}
.spaceSafety h2
{
	font-family:rajdhanisemibold;
	text-transform: uppercase;
	padding-top: 350px;
	color: #323232;
	font-size: 36px;
	margin-bottom: 25px;
}
.spaceSafetyDescription
{
	font-family: open_sansregular;
	color: #4e5d60;	
	font-size: 18px;
	width:709px;
	margin:0 auto;
	padding-bottom: 125px;
}
.spaceSafetyDescription .verify
{
	color: #4e5d60;
	font-weight: bold;
}
.subscriptionSection
{
	background-image: url(../img/subscribeBanner.jpg);
	height: 235px;
	background-size: cover;
}
.subscription
{
	position: relative;
}
.subscriptionDetails
{
	position: absolute;
	background-color: #ef3f37;
	width:213px;
	height: 213px;
	border-radius: 50%;
	top:130px;
	left:460px;
}
.subscriptionDetails .amountPerMonth
{
	color: #FFF;
	font-size: 30px;
	margin:70px 15px;
	line-height: 32px;
}
.subscriptionDetails .subscriptionTitle
{
	font-family: rajdhanimedium; 
	color: #222059;
	font-size: 24px;
}
.membership h3
{
	font-family:rajdhanimedium; 
	padding-top: 142px;
	font-size: 24px;
	color: #323232;
	margin-bottom: 20px;
}
.membershipDetails
{
	margin-bottom: 52px;
}
.memberContent
{
	width:770px;
	margin:0 auto;
}
.memberContent .noCreditCard
{
	margin-bottom: 55px;
	color: #556569;
	font-size: 14px;
}
.tryItForFree
{
	font-family:rajdhanisemibold;
	border-radius: 5px;
	background-color: #ef3f37;
	padding:20px 55px;
	color: #fff;
	font-size: 24px;
	display:inline-block;
}
.membershipDetails li::before
{
	content: "";
	background-image: url(../img/spritesImage.png);
	background-repeat: no-repeat;
	background-position: 0 -338px;
	height:30px;
	width:30px;
	display: block;
	float: left;
	margin-right: 20px;
}
.membershipDetails li
{
	font-family:open_sansregular;
	float: left;
	font-size: 14px;
	color: #666666;
	width:375px;
	min-height: 70px;
}
.verifySection
{
	background-color: #01284f;
	color: #fff;
}
.verifySection .tablet
{
	background-image: url(../img/smallTablet.png);
	width:537px;
	height: 374px;
	margin: 0 auto 80px;
	display: block;
}
.VerifyDetails
{
	margin-bottom: 75px;
}
.verifySection h2
{
	font-family: rajdhanisemibold;
	padding-top: 80px;
	margin-bottom: 65px;
	font-size: 36px;
}
.verifyList h4
{
	font-size: 18px;
	font-family:open_sansbold;
}
.verifyList .VerifyContent
{
	display: inline-block;
	width:472px;
	margin-top: 12px;
}
.verifyList p
{
	font-family:open_sansbold;
	font-size: 14px;
	width: 470px;
}
.verifyList li
{
	min-height: 60px;
	margin-bottom: 75px;
}
.verifyList li::before
{
	content: "";
	background-image: url(../img/spritesImage.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
}
.verifyList .minimumRisk::before
{
	background-position:0 -222px;
	width: 59px;
	height: 60px;
	margin-right: 15px;
}
.verifyList .decisionMaking::before
{
	background-position: 0 -179px;
	width: 56px;
	height: 45px;
	margin-right: 15px;
}
.verifyList .avoidFraud::before
{
	background-position: 0 -281px;
	width: 56px;
	height: 56px;
	margin-right: 15px;
}
.verifyList .documentEfforts::before
{
	background-position: 0 -52px;
	width: 55px;
	height: 59px;
	margin-right: 15px;
}
.verifyList .facilitateCompliance::before
{
	background-position: 0 0;
	width: 60px;
	height: 53px;
	margin-right: 15px;
}
.verifyList .changeRegulations::before
{
	background-position: 0 -116px;
	width: 50px;
	height: 55px;
	margin-right: 15px;
}
.footer ul
{
	padding: 35px 0;
}
.footer li
{
	float: left;
	margin-left: 15px;
}
.footer a
{
	font-family:open_sansregular;
	text-decoration: none;
	font-size: 14px;
	color: #9aa8ab;
}